
  <form>
    <div class="row mb-2 box-inputs">
      <div class="col-md-2 single-input">
        <label for="day">DAY</label>
        <input type="number" placeholder="DD" id="day" class="form-control">
      </div>
  
      <div class="col-md-2 single-input">
        <label for="month">MONTH</label>
        <input type="number" placeholder="MM" id="month" class="form-control">
      </div>
  
      <div class="col-md-2 single-input">
        <label for="year">YEAR</label>
        <input type="number" placeholder="YYYY" id="year" class="form-control">
      </div>
    </div>
  
    <div class="container-icon">
      <hr />
      <button class="container-icon-image">
        <img src="./assets/images/icon-arrow.svg" alt="arrow button" />
      </button>
    </div>
  
    <div class="row result-view">
      <div class="col-md-12 display-font">
        <label class="displayColor"><span>--</span><strong>Age</strong></label>
      </div>
    </div>
    <div class="row result-view">
      <div class="col-md-12 display-font">
        <label class="displayColor"><span>--</span> <strong>Months</strong></label>
      </div>
    </div>
    <div class="row result-view">
      <div class="col-md-12 display-font">
        <label class="displayColor"><span>--</span><strong>Year</strong></label>
      </div>
    </div>
  </form>
  
